{{#if playing}}
  {{#if winner}}
    <div>
      Player {{winner}} won!
    </div>
  {{/if}}
  {{#if draw}}
    Its a draw!
  {{/if}}
  <button {{action "start"}}>Restart</button>
{{else}}
  <button {{action "start"}}>Start</button>
{{/if}}
<canvas id="stage" width="380" height="380"></canvas>
